.github/
.vscode/
.conan/

artwork*/
benchmark*/
build*/
ci/
CMake*/
contrib*/
docs*/
example*/
include/
misc*/
projects*/
scripts*/
src/
tests*/
third_party*/

.clang-*
.cmake-format
.travis*
.gitattributes
*.bazel
CODE_OF_CONDUCT.md
CONTRIBUTING**
README-MAINTAINER*.md
WORKSPACE*
appveyor*
codecov*
conan*

*.tgz
